#content-top {
	width: calc(100%-250px);
	height: 56px;
	margin-top: 60px;
	margin-left: 250px;
}

#my-tab li {
	height: 32px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 12px;
	margin-left: 0;
	background: rgba(161, 161, 161, 0.2);
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	border-radius: 10px 10px 10px 10px;
	line-height: 32px;
}

#my-tab li:hover {
	background: rgba(161, 161, 161, 0.4);
	transition: 0.2s;
}

#my-tab li:nth-child(1) {
	background: black;
	color: white;
}

#content {
	width: calc(100% - 250px);
	margin-left: 250px;
	padding-top: 24px;
	/* background: lawngreen; */
	/* display: flex; */
}

/* ---------------------------------------------- */
.vid-area {
	width: calc(100%- 250px);
	/* height: 330px; */
	/* background: lightseagreen; */
}

.video {
	width: 330px;
	height: 280px;
	/* border: 1px solid black; */
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 40px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.pic {
	width: 330px;
	height: 185px;
	box-sizing: border-box;
	position: relative;
	/* border: 1px solid black; */
}

.pic img {
	width: 330px;
	height: 185px;
	position: absolute;
	border-radius: 10px 10px 10px 10px;
}

.pic img:hover {
	border-radius: 0 0 0 0;
	transition: 0.5s;
}

.time {
	position: absolute;
	bottom: 3px;
	right: 3px;
	font-size: 0.8rem;
	background: black;
	color: white;
	border-radius: 5px 5px 5px 5px;
	padding: 0;
}

.channel {
	width: 36px;
	height: 36px;
	/* border: 1px solid black; */
	margin-top: 12px;
	margin-right: 12px;
	position: absolute;
}

.channel img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	position: absolute;
}

.title {
	padding-right: 24px;
	width: 258px;
	height: 42px;
	margin-left: 48px;
	margin-top: 12px;
	font-size: 0.9rem;
	overflow: hidden;
	float: left;
	/* background-color: #fff; */
}

.title p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vid-btn {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0px;
	/* border: 1px solid black; */
	/* background-color: lightgreen; */
}

#vid-btn {
	display: none;
}

.vid-btn:hover #vid-btn {
	cursor: pointer;
	display: block;
	text-align: center;
	line-height: 40px;
	transition: 0.2s;
}

.channel-name {
	font-size: 0.85rem;
	color: #888;
	margin-left: 48px;
	margin-bottom: -2px;
}

.view-when {
	font-size: 0.85rem;
	color: #888;
	margin-left: 48px;
}
/* ------------------------------ */
#short-area {
	width: calc(100%- 250px);
	padding-bottom: 17px;
	margin-bottom: 48px;
	background-color: lightpink;
}
