#header {
	width: 100%;
	height: 60px;
	/* background: lightblue; */
	font-size: 0;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;

	/* 重要一定要有 */
	font-size: 1rem;
	/* justify-content: center; */
}

#top-left {
	width: 30%;
	height: 60px;
	/* border: 1px solid black; */
	position: relative;

	/* 讓物件和邊框一樣大且可以水平編排 */
	display: flex;
	/* 使物件維持原本大小並且對齊中間 */
	align-items: center;
}

#guide {
	/* margin-left: 20px; */
	width: 40px;
	height: 40px;
	border-radius: 50%;
	/* border: 1px solid black; */
	/* background: lightcoral; */

	text-align: center;
	float: left;
	line-height: 40px;
	position: absolute;
	top: 10px;
	left: 10px;
	/* display: flex; */
	/* justify-content: center;
	align-items: center; */
}

#top-left a {
	text-decoration: none;
	display: block;
	/* background: red; */
	font-size: 1rem;
}

#top-left #guide:hover {
	background: rgba(153, 151, 151, 0.5);
	transition: 0.25s;
}

#logo img {
	width: 95px;
	height: 21px;
	margin-left: 60px;
}

#top-mid {
	width: 40%;
	height: 60px;
	/* border: 1px solid black; */
	position: relative;

	/* 讓物件和邊框一樣大且可以水平編排 */
	display: flex;
	/* 使物件維持原本大小並且對齊中間 */
	align-items: center;
}

#top-mid .search {
	width: 535px;
	height: 40px;
	border-radius: 50px 0 0 50px;
	margin-left: 60px;
	font-size: 1rem;
}

#top-mid input:focus {
	outline: none;
}

#top-mid .top-btn {
	width: 65px;
	height: 40px;
	border-radius: 0 50px 50px 0;
	margin-left: -2px;
	cursor: pointer;
}

#voice {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 10px;
	left: 90%;
	/* border: 1px solid black; */

	text-align: center;
	float: left;
	line-height: 40px;
	position: absolute;
}

#top-mid a {
	text-decoration: none;
	display: block;
	/* background: red; */
	font-size: 1rem;
}

#top-mid #voice:hover {
	background: rgba(153, 151, 151, 0.5);
	transition: 0.25s;
}

#top-right {
	width: 30%;
	height: 60px;
	/* border: 1px solid black; */
	position: relative;

	/* 讓物件和邊框一樣大且可以水平編排 */
	display: flex;
	/* 使物件維持原本大小並且對齊中間 */
	align-items: center;
}

#set {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 400px;

	text-align: center;
	float: left;
	line-height: 40px;
	position: absolute;
}

#set a {
	text-decoration: none;
	display: block;

	font-size: 1rem;
}

#top-login {
	width: 80px;
	height: 35px;
	display: block;
	/* box-sizing: border-box; */
	font-size: 1rem;
	border: 1px solid rgb(153, 151, 151);
	border-radius: 20px;
	text-align: center;
	margin-left: 450px;
}

#top-login a {
	text-decoration: none;
	color: rgb(65, 65, 238);
	display: block;
	padding: 5px;
	transition: 0.15s;
}

#top-login a:hover {
	height: 25px;
	border-radius: 20px;
	background: rgb(199, 226, 244);
}